*{
    margin: 0;
    padding: 0;
}

/* Banner section */
.banner-section {
    margin-bottom: 10px ;
    background-image: url("./images/Banner\ Image.png");
    /* background-image: linear-gradient(0deg,gray, transparent); */
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    text-align: center;
    position: relative;
}
.section-title {
    /* padding: 70px 0; */
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-section h2{
    color: aliceblue;
}
.banner-section h1{
    color: aliceblue;
    font-size: 60px;
}

/* offer section */
.offer-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.offer-section h1 {
    color: #F00;
    font-size: 80px;
    margin-bottom: 40px;
}
.offer-section p {
    color: #F00;
    font-size: 24px;
}
.offer-section h3 {
    color: #070211;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Welcome section */

.welcome-section {
    background-image: url('/images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin: 120px 0;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.welcome-section-text {
    color: aliceblue;

}
.welcome-section-text h2 {
    font-size: 60px;
    margin-bottom: 35px;
}
.welcome-section-text button {
    margin-top: 45px;
    padding: 2px 4px;
    font-weight: 700;
    border: none;
    
}

/* Schedule section */

.schedule-section {
    height: 450px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.schedule-section button {
    padding: 8px 15px;
    background-color: #F00;
    color: aliceblue;
    border: none;
    border-radius: 4px;
}

.schedule-color {
    color: #F00;
}




