*{
    margin: 0;
    padding: 0;
}

/* Banner section */
.banner-section {
    margin-bottom: 10px ;
    background-image: url("./images/Banner\ Image.png");
    /* background-image: linear-gradient(0deg,gray, transparent); */
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    text-align: center;
    position: relative;
}
.section-title {
    /* padding: 70px 0; */
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-section h2{
    color: aliceblue;
}
.banner-section h1{
    color: aliceblue;
    font-size: 60px;
}

/* offer section */
.offer-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.offer-section h1 {
    color: #F00;
    font-size: 80px;
    margin-bottom: 40px;
}
.offer-section p {
    color: #F00;
    font-size: 24px;
}
.offer-section h3 {
    color: #070211;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Welcome section */

.welcome-section {
    background-image: url('/images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin: 120px 0;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.welcome-section-text {
    color: aliceblue;

}
.welcome-section-text h2 {
    font-size: 60px;
    margin-bottom: 35px;
}
.welcome-section-text button {
    margin-top: 45px;
    padding: 2px 4px;
    font-weight: 700;
    border: none;
    
}

/* Schedule section */

.schedule-section {
    height: 450px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.schedule-section button {
    padding: 8px 15px;
    background-color: #F00;
    color: aliceblue;
    border: none;
    border-radius: 4px;
}

.primary-color {
    color: #F00;
}


/* best offer section */
.best-offer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px 0;
    padding: 10px 20px;
}
.image-border {
    border: 12px solid #F00;
    border-radius: 50%;
    padding: 20px;
}
.best-offer-left {
    width: 100%;
}
.best-offer-middle {
    width: 100%;
}
.best-offer-right {
    width: 100%;
}
.best-offer-right h2 {
    font-size: 48px;
}
.best-offer-right p {
    font-size: 20px;
    margin: 20px 0;
}
.best-offer-left p {
    font-size: 24px;

}
.best-offer-left h1 {
    font-size: 48px;
    margin: 20px 0;
}

/* Holiday section */

.holiday-section {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.holiday-section h2 {
    font-size: 60px;
    margin: 10px 0;
}

.holiday-section .title {
    font-size: 24px;
}

/* Discount section */
.discount-section-container {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.discount-section {
    display: flex;
    gap: 300px;
    justify-content: space-between;
}
.discount-section-empty {
    width: 60%;
}
.discount-section-image {
    width: 40%;
    margin-bottom: -5px;
    position: relative;
}
.discount-img {
    position: absolute;
    left: -150px;
    top: 70px;
}
.discount-section-bottom {
    position: relative;
}
.discount-box-img {
    position: absolute;
    top: -400px;
    width: 58%;
}

/* gift section */
.gift-section{
    margin: 80px 0;
}
.gift-section-text {
    margin: 30px;
}
.gift-section-text h2 {
    margin: 10px 0;
    font-size: 35px;
}
.gift-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gift-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* news letter */

.news-letter-container {
    margin: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 70px;
    text-align: center;
}
.news-letter-container h2 {
    margin: 10px 0;
    font-size: 35px;
}
.news-letter-container p {
    margin: 15px 0;
}
.news-letter-container input {
    padding: 15px 30px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.news-letter-container button {
    border: none;
    background-color: #F00;
    color: aliceblue;
    padding: 15px 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}





